body {
  max-width: 100%;
  overflow-x: hidden;
  background-image: linear-gradient(120deg, #dfe9f3 0%, white 100%);
}
.App {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}
form {
  padding: 50px 100px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  background-color: white;
}
.Container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.Details {
  min-width: 50%;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 50px;
}
img {
  margin-top: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
}
